.home {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding-right: 10px;
    min-height: 100vh;
    position: relative;
    background-color: #f9f9f9;
}

.menu {
    width: 60px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
    box-shadow: 1px 0 5px rgba(0,0,0,0.1);
    left: 0;
    top: 0;
}

.icon-plus {
background-color: #2195f2;
border-radius: 50%;
width: 35px;
height: 35px;
}

.icon-plus i {
    color: white;
}

.feed {
    margin-left: 80px;
    max-width: 600px;
    min-height: 90vh;
    background-color: white;
}

img.rounded-circle {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.icon-menu {
    font-size: 20px;
    color: #444;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon-menu:hover {
    color: #000;
}

.btn-like {
    background: transparent;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 0;
    color: #444;
    font-size: 14px;
    transition: all 0.3s ease;
}

.btn-like i {
    font-size: 16px;
    transition: color 0.3s ease;
}

.btn-like:hover i {
    filter: brightness(0.8);
}

.icons-interacao {
    font-size: 14px;
}

.card {
    border-radius: 12px;
}

.small-swal {
  font-size: 10px;
}